@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .to-scroll {
    opacity: 0;
    transform: translateY(20%);
    transition: all .5s;
  }

  .show {
    opacity: 1;
    transform: translateY(0);
  }
}
