---
import Banner from "../components/Banner.astro";
import BannerImage from "../components/BannerImage.astro";
import CircleImage from "../components/CircleImage.astro";
import DataSecurityArcticle from "../components/DataSecurityArticle.astro";
import DescriptionArticle from "../components/DescriptionArticle.astro";
import FluidBanner from "../components/FluidBanner.astro";
import Footer from "../components/Footer.astro";
import InquireForm from "../components/InquireForm.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Marquee from "../components/Marquee.astro";
import RectangleButton from "../components/RectangleButton.astro";
---

<Layout title="HireHornPlayers.com">
  <Header />
  <main>
    <div
      class="slide_in motion-reduce:animate-none md:mx-auto md:mt-20 md:flex md:w-2/3 md:justify-center lg:mt-36"
    >
      <Banner text="HIRE" text2="HORN" text3="PLAYERS" />
      <BannerImage
        src="/brass_instruments.jpeg"
        alt="Some horns: a trumpet, trombone, and tenor saxophone"
      />
    </div>
    <h8
      class="mx-auto mt-3 block w-2/3 text-center font-acumin text-[14px] md:mt-10"
      >A BRASSROOTS MOVEMENT</h8
    >
    <RectangleButton
      text="BOOK NOW"
    />
    <Marquee />
    <FluidBanner text="BORN 2 HORN" />

    <div class="mb-4 items-center md:flex">
      <div class="mx-4 md:order-last md:mr-6 md:w-1/2 lg:mx-14">
        <DescriptionArticle />
      </div>
      <div class="md:ml-4 md:w-1/2 lg:ml-10">
        <CircleImage
          src="/horn_section_2.jpeg"
          alt="A horn section playing on stage"
        />
      </div>
    </div>

    <div class="md:flex">
      <div class="md:w-1/2">
        <InquireForm text="INQUIRE BELOW" />
      </div>
      <div class="md:w-3/5 md:self-center">
        <CircleImage
          src="/horn_section.jpeg"
          alt="A horn section playing in the studio"
        />
        <DataSecurityArcticle />
      </div>
    </div>

    <Footer />
  </main>
</Layout>
