---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="HireHornPlayers.com">
  <Header />
  <main>
    <div class="font-anton text-6xl w-max flex flex-col -space-y-1.5 ml-4">
      <h1>HIRE</h1>
      <h1>HORN</h1>
      <h1>PLAYERS</h1>
    </div>
    <img
      class="bg-black rounded-[50%] mx-auto w-4/5 mt-3"
      src="../../public/brass_instruments.jpeg"
      alt="Trumpet, Trombone, Tenor Saxophone"
    />
  </main>
</Layout>
