---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CircleImage from "../components/CircleImage.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="HireHornPlayers.com">
  <Header />
  <main>
    <Banner />

    <CircleImage
      src="/brass_instruments.jpeg"
      alt="Some horns, a trumpet, trombone, and tenor Saxophone"
    />

    <h8 class="mx-auto w-1/4 font-acumin">A BRASSROOTS MOVEMENT</h8>

    <!-- <CircleImage -->
    <!--   src="/horn_section.jpeg" -->
    <!--   alt="A horn section playing in the studio" -->
    <!-- /> -->
  </main>
</Layout>
