---
interface Props {
  text: string;
  text2?: string;
  text3?: string;
}

const { text, text2, text3 } = Astro.props;
---

<div
  class="z-0 ml-4 mt-12 flex w-max flex-col -space-y-1.5 font-anton text-6xl md:-mr-16 md:mt-8 lg:text-[6rem]"
>
  <h1>{text}</h1>
  <h1>{text2}</h1>
  <h1>{text3}</h1>
</div>
