---
interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="flex flex-col">
  <img class="mx-auto mt-3 w-60 rounded-[50%] md:mt-8 md:w-[360px] md:max-w-[360px] lg:mt-10 lg:w-[22rem] lg:max-w-[26rem] lg:-ml-5" src={src} alt={alt} />
</div>
