<article
  class="mx-auto mt-2 w-[85vw] text-center font-acumin text-[14px] leading-snug"
>
  <h5 class="mx-auto mt-8 w-11/12 font-anton text-base italic font-[700] ">
    ENSURING DATA SECURITY WITH A TOUCH OF BRASS
  </h5>
  <p class="mt-4 mb-6 font-acumin leading-4">
    At hirehornplayers.com, we prioritize your data privacy and security. We
    collect essential information, including your name, email, location, and
    event preferences, to facilitate our services seamlessly. Be assured, your
    data is safeguarded with the same precision as a skilled brass musician's
    performance. We adhere to a strict no-sharing policy, ensuring your data
    won't be shared with any third parties. Should there be any alterations in
    our data handling practices, you will be promptly informed. For any
    inquiries or clarifications, please do not hesitate to reach out to us. We
    appreciate your trust in HHP for your musical needs. 🎷🎺🎵
  </p>
</article>
