---
import CircleButton from "../components/CircleButton.astro";
---

<form
  action="https://script.google.com/macros/s/AKfycby9ORJPquvUAN_T3gyot-L8ESkQI56wBEi26Rjmn5ZIvKQhajnC2-PSdupOBbjZdoR-cw/exec"
  method="POST"
  class="mb-4"
  id="email-form"
>
  <input
    class="py-4 font-acumin text-xs"
    type="text"
    name="Email_Addr"
    placeholder="Email Address"
  />
  <CircleButton text="JOIN" />
</form>
