---
import CircleButton from "../components/CircleButton.astro";
---

<footer class="bg-[#0d0d0d] pb-8 pl-4 text-white">
  <div class="slide_in motion-reduce:animate-none">
    <h2 class="mb-4 pt-3 font-anton text-2xl">BRASS IN THE KNOW</h2>

    <p class="mb-4 text-[13px] font-semibold tracking-tighter">
      Please help us grow by joining our email list!
    </p>

    <form action="/lists" method="post" class="mb-4">
      <input
        class="px-5 py-4 font-acumin text-xs"
        type="text"
        name="email_address"
        placeholder="Email Address"
        value=""
      />
      <CircleButton text="JOIN" />
    </form>

    <p class="mr-4 text-[12px] leading-tight tracking-tighter lg:w-3/5">
      By signing up for our mailing list, you consent to receive semi-occasional
      updates. We respect your privacy and will not share your email address
      with third parties.
    </p>
  </div>
</footer>
