<nav class="ml-4 pt-4 font-anton">
  <ul class="flex justify-between">
    <li>
      <a href="https://hire-horn-players.vercel.app">
        <div class="slide_in flex justify-start gap-8">HIREHORNPLAYERS.COM</div>
      </a>
    </li>
    <li>
      <div class="flex justify-end gap-4">
        <!-- Insta -->
        <!-- twitter -->
      </div>
    </li>
  </ul>
</nav>
