<nav class="pt-4 pb-12 ml-4 font-anton">
  <ul class="flex justify-between">
    <li>
      <div class="justify-start flex gap-8">HIREHORNPLAYERS.COM</div>
    </li>
    <li>
      <div class="justify-end flex gap-4">
        <!-- Insta -->
        <!-- twitter -->
      </div>
    </li>
  </ul>
</nav>
