<nav class="pt-4 pb-12 ml-4 font-anton">
  <ul class="flex justify-between">
    <div class="justify-start flex gap-8">
      <li>HIREHORNPLAYERS.COM</li>
      <!-- <li>Home</li> -->
    </div>
    <div class="justify-end flex gap-4">
      <!-- <li>Insta</li> -->
      <!-- <li>twitter</li> -->
    </div>
  </ul>
</nav>
