<div
  class="relative mb-12 mt-12 flex h-16 items-center overflow-x-hidden border-y border-[#ff6123] font-acumin text-xs"
>
  <div
    class="animate-marquee whitespace-nowrap motion-reduce:animate-none"
    <i
    class="nf nf-md-star_four_points mx-2"
  >
    <span class="mx-2">NOT JUST TOOTING OUR HORNS</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BLOWING HORNS AND MINDS SINCE 2023</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BRASS ACTS ONLY</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">NOT JUST TOOTING OUR HORNS</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BLOWING HORNS AND MINDS SINCE 2023</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BRASS ACTS ONLY</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
  </div>

  <div
    class="absolute animate-marquee2 whitespace-nowrap motion-reduce:animate-none"
    <i
    class="nf nf-md-star_four_points mx-2"
  >
    <span class="mx-2">NOT JUST TOOTING OUR HORNS</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BLOWING HORNS AND MINDS SINCE 2023</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BRASS ACTS ONLY</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">NOT JUST TOOTING OUR HORNS</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BLOWING HORNS AND MINDS SINCE 2023</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
    <span class="mx-2">BRASS ACTS ONLY</span>
    <i class="nf nf-md-star_four_points mx-2"></i>
  </div>
</div>
