---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<form class="mx-auto mt-3 w-4/5 text-center md:max-w-xs">
  <button
    id="book-now"
    class="slide_in mt-1 h-14 w-4/5 border-2 pt-1 font-acumin text-[14px] text-white transition hover:bg-[#ffffff] hover:text-[#343638] motion-reduce:animate-none"
    type="button">{text}</button
  >
</form>

<script>
  const button = document.getElementById("book-now");

  if (!button) {
    console.error("Button not found");
  } else {
    button.addEventListener("click", () => {
      const targetElement = document.getElementById("inquiry-form");
      targetElement?.scrollIntoView({ behavior: "smooth" });
    });
  }
</script>
