---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Hire Horn Players Home Page" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/trumpet_favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/acumin-pro" rel="stylesheet" />
    <link href="https://www.nerdfonts.com/assets/css/webfont.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    color: #ff6123;
    background: #191b1d;
    font-size: 22px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  input, select{
    height: 1.5rem;
  }
</style>
